<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HW_Selenium_1" parallel="tests" thread-count="1">
    <test name="test">
        <classes>
            <class name="AddRemoveElementsTest"/>
            <class name="CheckboxesTest"/>
            <class name="DropdownTest"/>
        </classes>
    </test>
</suite>